<div class="col-sm-9">
     	<!-- 	<h2> Tutorial No:5   <small> (Use of HttpService on Json)</small> 
        </h2> 
        <h4>Output:</h4>
        <div style="border: solid black 2px; padding: 15px">

       	<h1>Name and Age of programmers In the local area </h1>
        <div id="searchBox">
        <h5> Global Search :<input type="text" ng-model="searchEmployee.$"></h5>
        <h5> Quick Search for Employee Name :<input type="text" ng-model="searchEmployee.name"></h5>
        <h5> Quick Search for Employee price :<input type="text" ng-model="searchEmployee.price"></h5> -->
       <!--  <h5> Quick Search for Employee Name :<input type="text" ng-model="searchEmployee"></h5> -->
         <!--  </div> -->
        <!-- {{employees.data}} -->
       <!--  <div ng-repeat="employee in employees.data | filter:searchEmployee">
        <p> categories: {{employee.categories}}</p><br>
        <p> City:{{employee.city}}</p><br>
        <p><small>Title:</small> {{employee.title}} <br><small>Price</small> {{employee.price}}</p> -->
        <br>
        
        <form enctype="multipart/from-data">
          
        Mobile Categorie : <input type="text" ng-model="categories"><br>
        City:<input type="text" ng-model="city"><br>
        description:<input type="text" ng-model="description"><br>
        mobile_brand_name:<input type="text" ng-model="mobile_brand_name"><br>
        Name:<input type="text" ng-model="name"><br>
        Phone number:<input type="number" ng-model="number"><br>
        Photo:<input type="file" file-model="myfile">  
        
        <br/>
        <br/>
        Price:<input type="number" ng-model="price"><br>
        subcategores:<input type="text" ng-model="subcategories"><br>
        title:<input type="text" ng-model="title"><br>
        <input type="button" value="submit" ng-click="save()">
        </form>


        </div>
        </div>
    	</div>