<div class="col-sm-9">
     		<h2> Tutorial No:5   <small> (Introduction to controller)</small> 
        </h2> 
        <h4>Output:</h4>
        <div style="border: solid black 2px; padding: 15px">
       	Select Your Favourate Langauge:
       		<button ng-click="langFunc('Javascript')">Javascript</button>
        	<button ng-click="langFunc('php')">PHP</button>
        	<button ng-click="langFunc('Java')">Java</button>
        	<button ng-click="langFunc('C++')">C++</button>
        <div> you have selected language as {{langName | uppercase}}</div>
        </div>
    	</div>